<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482502520440-4eukv8eqe9qekgh3ffvgst3c6ijehm2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482502520440-4eukv8eqe9qekgh3ffvgst3c6ijehm2r</string>
	<key>API_KEY</key>
	<string>AIzaSyC--Q-o-BIXTKILK8VHtrTJOKYR2LlomHs</string>
	<key>GCM_SENDER_ID</key>
	<string>482502520440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alihanhoylu.photoApp</string>
	<key>PROJECT_ID</key>
	<string>learnfirebase-ef089</string>
	<key>STORAGE_BUCKET</key>
	<string>learnfirebase-ef089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:482502520440:ios:5314536d4eb8286ca4878d</string>
</dict>
</plist>